# Terraform state and local files
*.tfstate*
.terraform/

# Sensitive local config
cluster.auto.tfvars
talosconfig
kubeconfig

# Editor files
*.swp
*.swo

.tfplan
.terraform.lock.hcl
tfplan
my-apps/
.txt
HOW-TO-ADD-NEW-APP.md